@{
    ViewBag.Title = "About";
}

<p><h3>Functionalities</h3><p>

<p>
    The main operations on a movie are:
    <ul>
        <li>editing a movie's properties (by changing some of it's properties)</li>
        <li>deleting a movie</li>
        <li>creating a new movie (by filling in it's properties)</li>
        <li>displaying a movie's properties</li>
    </ul>
    
</p>
